.window {
    position: absolute;
    opacity: 0.99;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.window-header {
    cursor: move;
}

html, body {
    overflow: hidden;
}

.fade-in {
    opacity: 0.85;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.blur {
    background-color: white;
    opacity: 0.85;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
}

body, table {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    background-color: transparent;
}

.card {
    box-shadow: 1px 1px 12px #00000065;
    border-radius: 2px 2px;
}

.card-header {
    padding: 10px;
}

.card-control {
    position: absolute;
    width: auto;
    height: 100%;
    float: right;
}

.card-body {
    padding: 8px;
}

.btn {
    border-radius: 2px 2px;
}

.btn-ctrl {
    padding: 0;
    width: 25px;
    height: 25px;
    text-align: center center;
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

    .ripple:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .5s, opacity 1s;
    }

    .ripple:active:after {
        transform: scale(0, 0);
        opacity: .3;
        transition: 0s;
    }

.chatbox {
    position: absolute;
    width: auto;
    padding: 5px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.2s ease-in-out;
}

    .chatbox:hover {
        background-color: rgba(0,0,0,0.3);
        transition: background-color 0.2s ease-in-out;
    }


.chat-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.2em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 1px #000000, 1px 1px 1px #000000, -1px 1px 1px #000000, 1px -1px 1px #000000;
}

.chatbox-body {
    width: 450px;
    overflow: auto;
    height: 270px;
    margin-bottom: 4px;
}

